*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 400px;
    height: 700px;
    position: relative;
    background-image: url('./public/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -580px;
    display: flex;
    flex-direction: column;
}


#content{
    width: 100%;
    height: 100%;
    display: flex;
}


/* === HEADER === */

header{
    width: 100%;
    min-height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer{
    font-size: 27px;
}

/* === INTERACTIONS === */

#interactions{
    width: 100px;
    max-height: 565px;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.action-popup {
    position: absolute;

    animation: flyPopup 5s ease-in-out, shakePopup 2s 2.5 ease-in-out, disappearPopup 4.5s;
}

.action-popup, .action-popup img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.action-popup span {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -9px;
    color: #272727;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-popup img {
    border-width: 4px;
    border-style: solid;
}

.action-popup[data-action-type="gift"] img { border-color: gold }
.action-popup[data-action-type="follow"] img { border-color: lawngreen }
.action-popup[data-action-type="share"] img { border-color: lightskyblue }
.action-popup[data-action-type="like"] img { border-color: rgb(248, 20, 20) }
.action-popup[data-action-type="join"] img { border-color: #d1d1d1 }

@keyframes flyPopup {
    0% {
        bottom: 20px;
    } 100% {
        bottom: 580px;
    }
}

@keyframes shakePopup {
    0% {
        left: 5px;
    } 50% {
        left: 60px;
    } 100% {
        left: 5px;
    }
}

@keyframes disappearPopup {
    80% {
        opacity: 100%;
    } 100% {
        opacity: 0;
    }
}

/* === TEAMS === */

#teams{
    width: 300px;
    max-height: 580px;
    position: relative;
}

.team{
    width: 280px;
    height: 55px;
    position: absolute;
    right: 0;
    margin-bottom: 8px;
    border-radius: 50px 0 0 50px;
    background-color: #fff;
    display: flex;
    transition: all 200ms;
}

.team-interaction{
    width: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.team-interaction span{
    color: #fff;
}

.team-picture{
    border-radius: 50px;
}

.team-fans{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.fan-absolute{
    position: absolute;

    transition: all 350ms;
}

.fan{
    width: 30px;
    height: 30px;
    position: relative;
}

.fan img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.fan-points{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    color: #fff;
    font-size: 11px;
    padding: 0 4px;
    border-radius: 50px;
    background-color: #1d1d1d;
}

/* === WIN MODAL === */

#winModal{
    width: 400px;
    height: 700px;
    position: absolute;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time-container{
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coroa{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
}

#escudo{
    width: 250px;
    height: 250px;
    border-radius: 50em;
    border: 5px solid transparent;
    background: linear-gradient(white, white) padding-box,
                linear-gradient(to right, #ecc440, #fffa8a, #ddac17, #ffff95) border-box;
}

#time-container span{
    width: 80px;
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    padding: 5px 0;
    border: 3px solid #1d1d1d;
    background-color: #1d1d1da9;
}

#torcedores{
    margin-top: 25px;
    position: relative;
    display: flex;
}

.torcedor{
    position: relative;
}

.torcedor img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border-radius: 50em;
    border: 3px solid transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #ecc440, #fffa8a, #ddac17, #ffff95) border-box;
}

.torcedor span{
    width: 40px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    padding: 2px;
    border: 3px solid #1d1d1d;
    background-color: #1d1d1da9;  width: 40px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%,0);
    color: #fff;
    font-size: 12px;
    text-align: center;
    border-radius: 50px;
    padding: 2px;
    border: 3px solid #1d1d1d;
    background-color: #1d1d1da9;
}

#prata{
    position: absolute;
    top: 20px;
    left: -60px;
}

#bronze{
    position: absolute;
    top: 20px;
    left: 60px;
}

